body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2P8/+K2L6OE6mYGKGCEMTAEYCoxVAAAXXUIBcd35+kAAAAASUVORK5CYII=) repeat;
  font-size: 12px;
  font-family: "Century Gothic", sans-serif;
  margin: 0;
  background-color: #5E412F;
}

.intro {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2P8/+K2L6OE6mYGKGCEMTAEYCoxVAAAXXUIBcd35+kAAAAASUVORK5CYII=) repeat;
  background-color: #5E412F;
  z-index: 100;
}

.wrapper {
  margin-top: 8em;
}

@media screen and (min-width:48em) {
  .sticky {
    position: static;
    background: none;
  }
  .wrapper {
    margin-top: 0;
  }
}

@media screen and (min-width:48em) {
  body, #index .intro, #portfolio .intro, #contact .intro {
    font-size: 15px;
    text-align: left;
  }
}

header, h1, .container, footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* main layout
------------------------------------------*/

#index a:hover {
  color: #78C0A8;
}

#index .wrapper {
  padding: 1em 0;
  background: #78C0A8;
}

#index .photo {
  margin: 0 auto;
  display: block;
}

@media screen and (min-width:48em) {
  #index .photo {
    float: right;
    margin: 2.5em 1em 1em 1em;
  }
}

#index .align-left {
  margin: 0 .3em 0 0;
}

#index .intro {
  border: none;
}

@media screen and (min-width:48em) {
  #index .intro {
    width: 100% inherit;
    border: 1.5px dotted white;
    padding: .7em;
    box-sizing: border-box;
    border-radius: 15px;
  }
}

.techskills {
  list-style: none;
  padding: 0;
  max-width: 150px;
}

.techskills li {
  height: 30px;
  position: relative;
}

.techskills li span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FCEBB6;
  margin-left: 10em;
  text-indent: -45px;
  width: 100%;
}

.html, .css, .js, .jquery, .ps {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F0A830;
  height: 18px;
  width: 0;
  transition: 1s;
}

.techskills span:hover .html, .techskills span:hover .css, .techskills span:hover .ps {
  width: 100%;
  height: 18px;
  display: block;
}

.techskills span:hover .js {
  width: 90%;
  height: 18px;
  display: block;
}

.techskills span:hover .jquery {
  width: 75%;
  height: 18px;
  display: block;
}


/* index page
------------------------------------------*/

#resume a:hover {
  color: gray;
}

#resume .wrapper {
  padding: 1em 0;
  background: #F0A830;
}

.customhr {
  border: none;
  border-top: 1.5px dotted white;
  color: white;
  width: 100%;
}


/* resume page
------------------------------------------*/

#portfolio a:hover {
  color: #FCEBB6;
}

#portfolio .wrapper {
  padding: 1em 0;
  background: #FCEBB6;
}

.thumbs img {
  box-sizing: border-box;
  border: 1px solid #DDC476;
  padding: 2px 3px 2px 2px;
}

.thumbs {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
}

@media screen and (min-width:48em) {
  .thumbs {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
  }
}

.thumbs a {
  position: relative;
  overflow: hidden;
  margin: 0 5px 0 5px;
  color: #FCEBB6;
}

.thumbs span {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(94, 65, 47, 0.7);
  width: 100%;
  text-align: center;
  padding: 1em .5em;
  transition: 1s;
  font-size: 10px;
}

@media screen and (min-width:48em) {
  .thumbs span {
    font-size: 10px;
    bottom: -70px;
  }
}

.thumbs a:hover span {
  bottom: 0;
}


/* portfolio page
------------------------------------------*/

#contact a:hover {
  color: gray;
}

#contact .wrapper {
  padding: 1em 0;
  background: #F07818;
}

#contact .align-left {
  margin: 0 1em .3em 0;
  vertical-align: middle;
}

input[type="text"], input[type="email"], textarea {
  font-size: 1em;
  background: linear-gradient(#eeeeee, #ffffff);
  border-top: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  border-bottom: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  padding: .5em;
  margin-top: .5em;
}

input[type="submit"] {
  font-size: 1em;
  background: #F0A830;
  outline: 0;
  padding: .5em 1em;
  border: 2px solid #FCEBB6;
  margin-top: 1em;
}

input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}


/* contact page
------------------------------------------*/

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

@media screen and (min-width:48em) {
  nav ul {
    font-size: 1em;
  }
}

nav li {
  margin-right: .5em;
}

nav a {
  color: white;
  text-decoration: none;
  background: black;
  padding: .5em 1em;
  transition: 1s;
}

nav a:hover {
  background: gray;
}

#resume nav a:hover {
  color: #F0A830;
}

#contact nav a:hover {
  color: #F07818;
}

.bar {
  padding: .1em 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 1em 0 0;
}


/* navigation
------------------------------------------*/
